.App {
  position: relative;
  text-align: center;
  height: 100vh;
  max-width: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

.calculator-result {
  text-overflow: ellipsis;
  position: relative;
  color: aliceblue;
  font-size: 2rem;
  height: 30%;

  & > span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1.5rem;
    text-align: right;
  }
}
.calculation {
  font-size: 1rem;
}

.calculation-result {
  margin: 0;
  word-wrap: break-word;
  font-size: 3.5rem;
}

.disabled {
  opacity: 0.2;
}

.small {
  font-size: 2rem;
}

.error {
  font-size: 1rem;
}
