.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.modal-content {
  max-height: 100%;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  animation: slideInFromTop .4s;
  display: flex;
  flex-direction: column;
}

.close {
  color: white;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

.modal-header {
  padding: 0.25rem 1rem;
  background-color: #1781e3;
  color: white;
}

.modal-body {
  padding: 0.25rem 1rem;
  overflow-y: scroll;
}

@media (min-width: 599px) {
  .modal {
    padding-top: 5rem;
  }
  .modal-content {
    width: 90%;
    max-height: 75%;
  }
}

@media (min-width: 1000px) {
  .modal {
    padding-top: 5rem;
  }
  .modal-content {
    width: 60%;
    max-height: 75%;
  }
}

@keyframes slideInFromTop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.placeholder-text {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
